<body class="flame_body">
	<div class="form-group black_circle_form">
		<div class="center_wrapper">
			<h3 class="welcome_text">Wipe clean thy past self.</h3>
			<%= render 'new_user_form' %>
		</div>
	</div>
</body>