<h1>Users#index</h1>
<body id="users_body">
	<div id="user_wrapper">
		<div id="users_container">
				<% @users.each do |user| %>
					<div>
						<%= link_to "#{user.user_name}", user %> 
					</div>
				<% end %>
			</div>
		</div>
<body>

