<body id="new_user_body">
	<div class="form-group new_user_form">
		<div id="new_user_form_wrapper">
			<h3 id="create_user_text">Welcome to BLOG-A-GEDDON, please create an account.</h3>
			<%= render 'new_user_form' %>
		</div>
	</div>
</body>
