<body class="flame_body">
	<div class="form-group black_circle_form">
		<div class="edit_post_center_wrapper">
			<h3 class="welcome_text">Destroy Thy Creation!</h3>
			<%= render 'post_form' %>
		</div>
	</div>
</body>